# Aufgabe 1 (1,5 Punkte - je 0,5)
a) Erstellen Sie ein DataFrame, der wie folgt aussieht:

![Same Directory Image](images\1a.png)

In [67]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd


df = pd.DataFrame(
    {
    "City": ['Wien', 'Berlin', 'Zürich'],
    'Country': ['Österreich', 'Deutschland', 'Schweiz'],
    'Area': [414.6, 891.85, 87.88],
    'Population': [1805681, 3562166, 378884]
    }
)

melted = df.melt(id_vars="City", var_name="Attribute", value_name="Value")

for city, group in melted.groupby("City"):
    print(city)
    print(group[["Attribute", "Value"]].to_string(index=False, header=False))

Berlin
   Country Deutschland
      Area      891.85
Population     3562166
Wien
   Country Österreich
      Area      414.6
Population    1805681
Zürich
   Country Schweiz
      Area   87.88
Population  378884

b) Sortieren Sie nach dem Index und erzeugen Sie folgende Ausgabe:

![Same Directory Image](images\1b.png)

c) Vertauschen Sie die Indizes, sortieren Sie neu und erzeugen Sie die folgende Ausgabe:

![Same Directory Image](images\1c.png)

# Aufgabe 2 (3 Punkte, je 0,5)

a) Erzeugen Sie einen DataFrame mit einem Index (nicht nachträglich setzten, Index direkt erzeugen), der aus Vornamen besteht, sowie
einer Spalte für das gewicht und einer Spalte für die Körpergröße, siehe auch die Abbildung.

![Same Directory Image](images\2a.png)

b) Extrahieren Sie alle Zeilen, deren BMI im normalen Bereich liegt, d.h. zwischen 18.5. und 25. Es gilt: BMI= Gewicht in kg/(Größe in m)2.
Siehe auch die Abbildung:

![Same Directory Image](images\2b.png)

c) Geben Sie alle Zeilen aus, in deren Namen ein kleines „e“ vorkommt, siehe auch die Abbildung.

![Same Directory Image](images\2c.png)

d) Fügen Sie eine Spalte mit dem BMI an.

![Same Directory Image](images\2d.png)

e) Sortieren Sie nach dem BMI

![Same Directory Image](images\2e.png)

f) Geben Sie nun alle Zeilen aus, deren BMI-Werte unter 20 liegen und deren Name ein kleines „e“ enthält:

![Same Directory Image](images\2f.png)