# Aufgabe 1 (1,5 Punkte - je 0,5)
a) Erstellen Sie ein DataFrame, der wie folgt aussieht:

![Same Directory Image](images\1a.png)

In [422]:
import pandas as pd
from nltk.sem.chat80 import contains

tuples = [
    ('Wien','country'),
    ('Wien','area'),
    ('Wien','population'),
    ('Berlin','country'),
    ('Berlin','area'),
    ('Berlin','population'),
    ('Zürich','country'),
    ('Zürich','area'),
    ('Zürich','population'),
]
index = pd.MultiIndex.from_tuples(tuples)
df = pd.DataFrame({'': ["Österreich", 414.6, 1805681, "Deutschland", 891.85, 3562166, "Schweiz", 87.88, 378884]}, index=index)
print(df)

Wien   country      Österreich
       area              414.6
       population      1805681
Berlin country     Deutschland
       area             891.85
       population      3562166
Zürich country         Schweiz
       area              87.88
       population       378884

b) Sortieren Sie nach dem Index und erzeugen Sie folgende Ausgabe:

![Same Directory Image](images\1b.png)

In [423]:
df.sort_index(inplace=True)
print(df)

Berlin area             891.85
       country     Deutschland
       population      3562166
Wien   area              414.6
       country      Österreich
       population      1805681
Zürich area              87.88
       country         Schweiz
       population       378884

c) Vertauschen Sie die Indizes, sortieren Sie neu und erzeugen Sie die folgende Ausgabe:

![Same Directory Image](images\1c.png)

In [424]:
# Swap first column and second
# Change first level 0 with last level -1
df = df.swaplevel(0, -1)
df.sort_index(inplace=True)
print(df)

area       Berlin       891.85
           Wien          414.6
           Zürich        87.88
country    Berlin  Deutschland
           Wien     Österreich
           Zürich      Schweiz
population Berlin      3562166
           Wien        1805681
           Zürich       378884

# Aufgabe 2 (3 Punkte, je 0,5)

a) Erzeugen Sie einen DataFrame mit einem Index (nicht nachträglich setzten, Index direkt erzeugen), der aus Vornamen besteht, sowie
einer Spalte für das gewicht und einer Spalte für die Körpergröße, siehe auch die Abbildung.

![Same Directory Image](images\2a.png)

In [425]:
randoms = {
        "Gewicht": {"Henry":65,
                 "Sarah":58,
                 "Elke":58,
                 "Lulu":45,
                 "Vera":43,
                 "Toni":99,
                 "Maria":68,
                 "Chris":60},
        "Größe": {"Henry":179,
                 "Sarah":165,
                 "Elke":172,
                 "Lulu":154,
                 "Vera":150,
                 "Toni":189,
                 "Maria":176,
                 "Chris":175},
}
df3 = pd.DataFrame(randoms)
print(df3)

       Gewicht  Größe
Henry       65    179
Sarah       58    165
Elke        58    172
Lulu        45    154
Vera        43    150
Toni        99    189
Maria       68    176
Chris       60    175

b) Extrahieren Sie alle Zeilen, deren BMI im normalen Bereich liegt, d.h. zwischen 18.5. und 25. Es gilt: BMI= Gewicht in kg/(Größe in m)2.
Siehe auch die Abbildung:

![Same Directory Image](images\2b.png)

In [426]:
print(df3.query("(Gewicht / (Größe*0.01)**2) >= 18.5 & (Gewicht / (Größe*0.01)**2) <= 25"))

       Gewicht  Größe
Henry       65    179
Sarah       58    165
Elke        58    172
Lulu        45    154
Vera        43    150
Maria       68    176
Chris       60    175

c) Geben Sie alle Zeilen aus, in deren Namen ein kleines „e“ vorkommt, siehe auch die Abbildung.

![Same Directory Image](images\2c.png)

In [427]:
print(df3.filter(like='e', axis=0))

       Gewicht  Größe
Henry       65    179
Elke        58    172
Vera        43    150

d) Fügen Sie eine Spalte mit dem BMI an.

![Same Directory Image](images\2d.png)

In [428]:
bmi = [20.286508,21.303949,19.605192,18.974532,19.111111,27.714790,21.952479,19.591837]
df3['BMI'] = bmi
print(df3)

       Gewicht  Größe        BMI
Henry       65    179  20.286508
Sarah       58    165  21.303949
Elke        58    172  19.605192
Lulu        45    154  18.974532
Vera        43    150  19.111111
Toni        99    189  27.714790
Maria       68    176  21.952479
Chris       60    175  19.591837

e) Sortieren Sie nach dem BMI

![Same Directory Image](images\2e.png)

In [429]:
df3.sort_values("BMI", ascending=False, inplace=True)
print(df3)

       Gewicht  Größe        BMI
Toni        99    189  27.714790
Maria       68    176  21.952479
Sarah       58    165  21.303949
Henry       65    179  20.286508
Elke        58    172  19.605192
Chris       60    175  19.591837
Vera        43    150  19.111111
Lulu        45    154  18.974532

f) Geben Sie nun alle Zeilen aus, deren BMI-Werte unter 20 liegen und deren Name ein kleines „e“ enthält:

![Same Directory Image](images\2f.png)

In [430]:
print(df3[df3['BMI'] <= 20].filter(like='e', axis=0))

      Gewicht  Größe        BMI
Elke       58    172  19.605192
Vera       43    150  19.111111